<style>
    main{
        width: 80vw;
        display: flex;
        flex-direction: column;
        padding: 5%;
        position: relative;
        align-items: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
    }

    section{
        width: 80%;
        height: 80%;
        display: flex;
        background-color: white;
        padding: 2%;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        border-radius: 15px;
        box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.22);
    }

    .title, p{
        align-self: self-start;
        padding-left: 3vw;
    }

</style>

<main>
    <section>
    <h2 class="title">About</h2>
    <p>Um pequeno CRUD desenvolvido com NodeJS, Express e Sequelize</p>
    </section>
</main>